.Rproj.user
.Rhistory
.RData
.Ruserdata
.rtweet_token.rds
COVID19-Event-Risk-Planner/www/eu_10_*
COVID19-Event-Risk-Planner/www/eu_5_*
COVID19-Event-Risk-Planner/www/5_*
COVID19-Event-Risk-Planner/www/10_*
.idea/
docker_github*
Renviron
